<p style="font-size: 22px;">
  Первый в мире удобный менеджер флеш-карточек. Именно так.
</p>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg %>
<% end -%>

<% if @card %>
  <%= render 'form', card: @card %>
<% else %>
  <p> Нет карточек для просмотра. </p>
<% end %>
